body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content-wrapper {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 4px 0 !important;
    border-top: 1px solid #ddd;
}

form, .container {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
